<h2> Forgot Password</h2>

<%= form_with url: password_reset_path, local: "true" do |form| %>
    <div class="input">
      <%= form.text_field :attr, name: "email", placeholder: "Enter your email" %>
    </div>
    <div class="button">
      <%= form.submit :ResetPassword, class: "link" %>
    </div>

<% end %>